/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.header {
  width: 100%;
  min-height: 100vh;
  background-color: #424242;
  display: flex;
  flex-flow: column;
}
.header .all-header {
  width: 75%;
  margin: auto;
}
.header .all-header .title-and-logo {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .header .all-header .title-and-logo {
    border-bottom: 0.5rem solid #fcdf3d;
    flex-flow: column-reverse;
    justify-content: space-evenly;
  }
}
@media (max-width: 500px) {
  .header .all-header .title-and-logo {
    flex-flow: row-reverse wrap;
    justify-content: space-evenly;
  }
}
.header .all-header .title-and-logo h1 {
  font-size: 12rem;
  color: #9fa8da;
  font-style: italic;
  font-family: Arial;
}
@media (max-width: 800px) {
  .header .all-header .title-and-logo h1 {
    font-size: 8rem;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
  }
}
@media (max-width: 500px) {
  .header .all-header .title-and-logo h1 {
    font-size: 8rem;
    margin: auto;
    text-align: center;
  }
}
.header .all-header .title-and-logo img {
  width: 25%;
  height: auto;
}
@media (max-width: 1175px) {
  .header .all-header .title-and-logo img {
    display: none;
  }
}
@media (max-width: 800px) {
  .header .all-header .title-and-logo img {
    width: 15%;
    height: auto;
    margin: auto;
    margin-bottom: 10%;
  }
}
@media (max-width: 500px) {
  .header .all-header .title-and-logo img {
    width: 20%;
    height: auto;
    margin: auto;
    margin-bottom: 5%;
  }
}
.header .all-header .h2 {
  display: flex;
  flex-direction: row wrap;
  width: 50%;
  margin-left: 50%;
  margin-top: 5%;
}
@media (max-width: 800px) {
  .header .all-header .h2 {
    width: 100%;
    margin-left: 0px;
    margin-top: 2%;
  }
}
@media (max-width: 500px) {
  .header .all-header .h2 {
    width: 100%;
    margin-left: 0px;
    margin-top: 2%;
  }
}
.header .all-header .h2 h2 {
  font-size: 4rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: right;
}
@media (max-width: 800px) {
  .header .all-header .h2 h2 {
    margin-top: 5%;
    font-size: 3rem;
    text-align: center;
    font-style: normal;
  }
}
@media (max-width: 500px) {
  .header .all-header .h2 h2 {
    margin-top: 5%;
    font-size: 3rem;
    text-align: center;
    margin: auto;
  }
}
.header .all-header .bottom-line {
  border-top: 0.5rem solid #6f78a8;
  margin-top: 5%;
  width: 100%;
}
@media (max-width: 800px) {
  .header .all-header .bottom-line {
    margin-top: 5%;
  }
}
@media (max-width: 500px) {
  .header .all-header .bottom-line {
    border-top: none;
  }
}
.header .all-header .bottom-line .nav {
  width: 25%;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  margin-top: 2%;
}
@media (max-width: 800px) {
  .header .all-header .bottom-line .nav {
    margin: auto;
    width: 100%;
    flex-flow: column;
  }
}
@media (max-width: 500px) {
  .header .all-header .bottom-line .nav {
    width: 100%;
    flex-flow: column;
  }
}
.header .all-header .bottom-line .nav a {
  font-size: 3rem;
  color: #fcdf3d;
  text-decoration: none;
  font-style: italic;
}
@media (max-width: 800px) {
  .header .all-header .bottom-line .nav a {
    font-size: 3rem;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
@media (max-width: 500px) {
  .header .all-header .bottom-line .nav a {
    font-size: 3rem;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
.header .all-header .bottom-line .nav a:hover {
  color: white;
}
.all-header {
  margin: 5%;
}
#top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
#sign-up {
  z-index: 99;
  border: none;
  outline: none;
  background-color: #6f78a8;
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  font-size: 4rem;
  margin: 0, auto;
}
#sign-up:hover {
  color: black;
  background-color: white;
}
footer {
  background-color: #9fa8da;
  color: #424242;
  height: 10%;
}
footer .foot {
  width: 50%;
  margin: auto;
  text-align: center;
}
footer .foot p {
  font-size: 2rem;
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #A9A9A9;
  padding: 20px 2%;
  color: #424242;
}
.about .about-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  border-radius: 20px;
  padding: 40px;
}
@media (max-width: 1000px) {
  .about .about-block {
    width: 85%;
  }
}
.about .about-block .about-title {
  font-size: 4.8rem;
  margin: 15px 0;
  padding: 20px 0;
  border-bottom: 4px solid #6f78a8;
  text-align: center;
  font-weight: bolder;
  color: black;
}
.about .about-block .about-content .about-text {
  font-size: 1.8rem;
}
.about .about-block .about-img {
  margin: 0 20px;
  border-radius: 10px;
  width: 30%;
  height: 300px;
  object-fit: cover;
}
@media (max-width: 800px) {
  .about .about-block .about-img {
    width: 100%;
    margin: 20px 0;
  }
}
.about .about-block .about-second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
@media (max-width: 800px) {
  .about .about-block .about-second {
    flex-flow: column;
  }
}
.modal-img {
  cursor: pointer;
  transition: 0.3s;
}
.modal-img:hover {
  opacity: 0.7;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  padding: 20px 2%;
}
.main-content .content-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 80%;
  padding-bottom: 20px;
}
@media (max-width: 1000px) {
  .main-content .content-block {
    width: 85%;
    flex-flow: column wrap;
  }
}
.main-content .content-block .content {
  width: 60%;
  color: #A9A9A9;
  padding: 20px 40px;
}
.main-content .content-block .content .content-text {
  font-size: 1.8rem;
}
@media (max-width: 1000px) {
  .main-content .content-block .content {
    width: 100%;
  }
}
.main-content .content-block .content-title {
  font-size: 2.4rem;
  margin: 15px 0;
  color: white;
  padding-bottom: 20px;
  border-bottom: 4px solid #9fa8da;
}
.main-content .content-block .content-second {
  width: 40%;
}
.main-content .content-block .content-second .content-img {
  border-radius: 10%;
  padding: 5px 5%;
  height: 300px;
  object-fit: cover;
}
@media (max-width: 1000px) {
  .main-content .content-block .content-second {
    width: 90%;
    text-align: center;
  }
}
.main-content .content-block-reverse {
  flex-direction: row-reverse;
}
.content-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
}
.content-modal .selected-modal-img {
  margin: auto;
  display: block;
  max-width: 800px;
  max-height: 80%;
}
@media (max-width: 800px) {
  .content-modal .selected-modal-img {
    max-width: 80%;
  }
}
.content-modal .selected-modal-img {
  animation: 0.6s zoom;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.content-modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #A9A9A9;
  font-size: 4rem;
  font-weight: bold;
  transition: 0.3s;
}
.content-modal .close:hover,
.content-modal .close:focus {
  color: #424242;
  text-decoration: none;
  cursor: pointer;
}
.content-modal-active {
  display: block;
}
