/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
body {
  background-color: #424242;
}
.title {
  font-size: 7rem;
  margin: 20px;
  text-decoration: none;
  color: #9fa8da;
  text-align: center;
}
nav {
  justify-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav a {
  font-family: sans-serif;
  font-size: 2rem;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #fcdf3d;
  font-style: italic;
}
.content {
  background-color: #9fa8da;
  border-radius: 10px;
  color: Black;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  max-width: 50%;
}
@media (max-width: 800px) {
  .content {
    max-width: 100%;
  }
}
.content a {
  margin: 10px;
  flex-flow: row;
  align-self: center;
}
.content h3 {
  padding-top: 5px;
  padding-bottom: 15px;
  justify-content: center;
  font-size: 3rem;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}
.content p {
  font-size: 2rem;
  padding-left: 20px;
  padding-right: 20px;
}
.content img {
  size: 5%;
  padding: 20px;
}
.content-block {
  margin: 20px;
  display: flex;
  flex-flow: row;
  text-align: center;
  justify-content: center;
}
@media (max-width: 800px) {
  .content-block {
    flex-flow: column;
  }
}
footer {
  display: flex;
  justify-content: center;
}
