.about {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #9fa8da;
  padding: 40px 0;

  .about-block {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1000px;

    .about-content {
      padding: 30px;
    }

    .about-title {
      font-size: 2.4rem;
      margin: 15px 0;
    }

    .about-text {
      font-size: 1.8rem;
    }

    .about-img {
      width: 40%;
      margin: 0 20px;

      @media (max-width: 800px) {
        width: 100%;
        margin: 20px 0;
      }
    }

    .about-second {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;

      @media (max-width: 800px) {
        flex-flow: column;
      }
    }
  }
}

.main-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #424242;
  padding: 40px 0;

  .content-block {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 80%;

    @media (max-width: 1000px) {
      width: 90%;
    }

    .content {
      width: 60%;
      padding: 30px;
      border-radius: 20px;
      border: 2px solid black;
      margin: 20px;
      background-color: #9fa8da;

      .content-text {
        font-size: 1.8rem;
      }

      @media (max-width: 1000px) {
        width: 100%;
        margin: 20px 5%;
      }
    }

    .content-title {
      font-size: 2.4rem;
      margin: 15px 0;
    }

    .content-img {
      border-radius: 50%;

      @media (max-width: 1000px) {
        display: none;
      }
    }
  }

  .content-block-reverse {
    flex-direction: row-reverse;
  }
}