.about {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #9fa8da;
  padding: 40px 0;

  .about-block {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    .about-title {
      font-size: 2.4rem;
      margin: 15px 0;
    }

    .about-img {
      width: 30%;
      margin: 0 20px;
    }

    .about-second {
      display: flex;
      justify-content: center;
      margin: 20px 0;
    }
  }
}

.main-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #424242;
  padding: 40px 0;

  .content-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

    .content {
      width: 60%;
      padding: 30px;
      border-radius: 20px;
      border: 2px solid black;
      margin: 20px;
      background-color: #9fa8da;
    }

    .content-title {
      font-size: 2.4rem;
      margin: 15px 0;
    }

    .content-img {
      border-radius: 50%;
    }
  }

  .content-block-reverse {
    flex-direction: row-reverse;
  }
}