footer{
    background-color: @dark-purple;
    color: @dark-gray;
    height: 10%;
    .foot{
        width: 50%;
        margin: auto;
        text-align: center;
        p{
            font-size: 2rem;
        }
    }

}