
.header{
    width: 100%;
    min-height: 100vh;
    background-color: @dark-gray;
    display: flex;
    flex-flow: column;
    .all-header{
        width: 75%;
        margin: auto;
        .title-and-logo{
            display: flex;
            flex-flow: row;
            justify-content: space-between;
    
            
            @media@tablet {
                border-bottom: .5rem solid @muted-yellow;
                flex-flow: column-reverse;
                justify-content: space-evenly;
            }
    
            @media @mobile {
                flex-flow: row-reverse wrap;
                justify-content: space-evenly;
            }
            h1{
                font-size: 12rem;
                color: @dark-purple;
                font-style: italic;
                font-family: 'Abril Fatface';
    
                @media@tablet {
                    font-size: 8rem;
                    margin: auto;
                    text-align: center;
                    margin-bottom: 5%;
                }
    
                @media @mobile {
                    font-size: 6rem;
                    text-align: center;
                }
            }
            img{
                width: 25%;
                height: auto;
    
    
                @media@tablet {
                    width: 15%;
                    height: auto;
                    margin: auto;
                    margin-bottom: 10%;

                }
    
                @media @mobile {
                    width: 20%;
                    height: auto;
                    margin: auto;
                    margin-bottom: 5%;
                }
            }
        }
        #sign-up{ 
            z-index: 99; 
            border: none;
            outline: none; 
            background-color:@darker-purple;
            color: white; 
            cursor: pointer; 
            padding: 20px; 
            border-radius: 10px; 
            font-size: 4rem;
            margin: 0, auto;

            @media@tablet {
                margin-top: 5%;
                padding: 20px; 
                border-radius: 5x; 
                font-size: 2rem;
                margin-top: 4%;
                margin-bottom:3%;
                margin-left: 40%;
            }
            @media @mobile{
                margin-left: 33%;
            }
        }
        
        #sign-up:hover{
            color: black;
            background-color: white;
        }

        .h2{
            display: flex;
            flex-direction: row wrap;
            width: 50%;
            margin-left: 50%;
            margin-top: 5%;
            @media@tablet{
                width: 100%;
                margin-left: 0px;
                margin-top: 2%;
            }
            @media@mobile{
                width: 100%;
                margin-left: 0px;
                margin-top: 2%;
    
            }
    
            h2{
                font-size: 4rem;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                font-style: italic;
                text-align: right;
    
                @media@tablet{
                    margin-top: 5%;
                    font-size: 3rem;
                    text-align: center;
                    font-style: normal;
                }
                 @media@mobile{
                     margin-top: 5%;
                     font-size: 3rem;
                     text-align: center;
                     margin: auto;
                 }
            }
    
        }
    
        .bottom-line{
            border-top: .5rem solid @darker-purple;
            margin-top: 5%;
            width: 100%;
    
            @media@tablet {
                margin-top: 5%;
            }
    
            @media@mobile {
                border-top: none;
            }
    
            .nav{
                width: 25%;
                display: flex;
                margin-left: auto;
                justify-content: space-between;
                margin-top: 2%;
                @media@tablet {
                    margin:auto;
                    width: 100%;
                    flex-flow: column;
                }
                @media@mobile {
                    width: 100%;
                    flex-flow: column;
                }
                a{
                    font-size: 3rem;
                    color: @muted-yellow;
                    text-decoration: none;
                    font-style: italic;
    
                    @media@tablet {
                        font-size: 3rem;
                        margin: auto;
                        padding-top: 10%;
                        padding-bottom: 10%;
                    }
    
                    @media@mobile{
                        font-size: 3rem;
                        margin: auto;
                        padding-top: 10%;
                        padding-bottom: 10%;
                    }
                }
                a:hover{
                    color: white;
                }
            }
        }

    }
    
}

.all-header{
    margin: 5%;
}

.top-btn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: transparent;
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
}


