// Variables and Mixins
@import 'variables.less';
@import 'mixins.less';

// Reset and Global Styles
@import 'reset.less';
@import 'global.less';

body {
    background-color: #424242;
}

header {
    background-color: #9fa8da;
}

.title {
    letter-spacing: 5px;
    padding: 20px;
    font-size: 7rem;
    font-style: italic;
    font-weight: bold;
    color: #9fa8da;
    background-color: #424242;
    text-align: center;
    border-bottom: 0.5rem solid #6f78a8;
    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}


// .description{
//     font-size: 2rem;
//     text-decoration: none;
//     color: white;
// }

nav {
    // display: flex;
    max-width: 100%;
    // justify-items: center;
    // text-align: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;

    // background-color: darkgrey;
    @media (max-width: 800px) {
        display: flex;
        flex-flow: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

nav a {
    justify-items: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: #fcdf3d;
    font-style: italic;
    padding: 5px;

    // background-color: #9fa8da;
    @media (max-width: 800px) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


.content-block {
    // max-width: 75%;
    min-width: 200px;
    padding-left: 10%;
    padding-right: 10%;
    // margin: 50px;
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: center;
    @media (max-width: 1150px) {
        padding-left: 5%;
        padding-right: 5%;
    }
    @media (max-width: 800px) {
        padding-left: 0%;
        padding-right: 0%;
    }


    .content {
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        min-width: 30%;
        height: 100%;
        margin: 10%;
        background-color: white;
        // border: 2px solid black;
        border-radius: 10px;
        color: Black;
        margin: 30px;
        padding-top: 20px;
        // padding-bottom: 20px;
        // display: flex;
        align-items: center;
        max-width: 50%;

        // @media (max-width: 1150px) {
        //     margin-left: 5%;
        //     margin-right: 5%;
        // }

        @media (max-width: 800px) {
            max-width: 100%;
        }

        a {
            text-decoration: none;
        }

        h3 {
            letter-spacing: 1px;
            font-weight: bold;
            padding-top: 5px;
            padding-bottom: 15px;
            justify-content: center;
            font-size: 3rem;
            margin-left: 20px;
            margin-right: 20px;
            text-decoration: none;
            color: black;
            border-bottom: 1px black solid;
        }

        p {
            font-size: 1.75rem;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;

        }

        img {
            max-width: 100%;
            max-height: 350px;
            padding-top: 20px;
            padding-bottom: 20px;
        }


        // .bcontent-icons {
        //     background-color: darkgrey;
        //     background-color: #9fa8da;
        // }


    }

    @media (max-width: 800px) {
        max-width: 100%;
        flex-flow: column;
    }
}

.content-block2{
    background-color: #313436;
    // max-width: 75%;
    min-width: 200px;
    padding-left: 10%;
    padding-right: 10%;
    // margin: 50px;
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: center;
    @media (max-width: 1150px) {
        padding-left: 5%;
        padding-right: 5%;
    }
    @media (max-width: 800px) {
        padding-left: 0%;
        padding-right: 0%;
    }


    .content {
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        min-width: 30%;
        height: 100%;
        margin: 10%;
        background-color: white;
        // border: 2px solid black;
        border-radius: 10px;
        color: Black;
        margin: 30px;
        padding-top: 20px;
        // padding-bottom: 20px;
        // display: flex;
        align-items: center;
        max-width: 50%;
        // @media (max-width: 1150px) {
        //     margin-left: 5%;
        //     margin-right: 5%;
        // }

        @media (max-width: 800px) {
            max-width: 100%;
        }

        a {
            text-decoration: none;
        }

        h3 {
            letter-spacing: 1px;
            font-weight: bold;
            padding-top: 5px;
            padding-bottom: 15px;
            justify-content: center;
            font-size: 3rem;
            margin-left: 20px;
            margin-right: 20px;
            text-decoration: none;
            color: black;
            border-bottom: 1px black solid;
        }

        p {
            font-size: 1.75rem;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;

        }

        img {
            max-width: 100%;
            max-height: 350px;
            padding-top: 20px;
            padding-bottom: 20px;
        }


        // .bcontent-icons {
        //     background-color: darkgrey;
        //     background-color: #9fa8da;
        // }


    }

    @media (max-width: 800px) {
        max-width: 100%;
        flex-flow: column;
    }
}


footer {
    display: flex;
    justify-content: center;
    background-color: #9fa8da;
        p{
            padding-bottom: 0px;
        }
}

.collapsible {
    background-color: white;
    padding: 18px;
    width: 100%;
    outline: none;
    font-size: 15px;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color: black;
	// font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  }
  
  .active, .collapsible:hover {
    background-color:#f6f6f6;
  }
  
  .content-toggle {
    display: none;
    overflow: hidden;
  }