// Variables and Mixins
@import 'variables.less';
@import 'mixins.less';

// Reset and Global Styles
@import 'reset.less';
@import 'global.less';

body{
    background-color: #424242;
}

.title{
    font-size: 5rem;
    margin: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}

// .description{
//     font-size: 2rem;
//     text-decoration: none;
//     color: white;
// }

nav{
    justify-items: center;
    text-align: center;
}
nav a{
    font-size: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.content{
    // background-color: #9fa8da; 
    border: 2px solid white;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
        a{
            margin: 10px;
            flex-flow: row;
        }
        h3{
            font-size: 2rem;
            margin-left: 20px;
            margin-right: 20px;
            text-decoration: none;
            color: white;
    }
}

.content-block{
    margin: 20px;
    // columns: 2;
    text-align: center;
}